
<div class="app-container">
        <h1>To-Do</h1>
        <p>A place to store your to-do's</p>
        <input #filterInput [(ngModel)]="filterValue" type="text" placeholder="Filter your to-do's"> 
        <ol>
            <li *ngFor="let task of (toDoList | taskFilter: filterValue); let i = index">
                <button *ngIf="!task.completed" [disabled]="task.beingEdited" class="btn" (click)='task.completed = true'>Complete</button>
                <button (click)="editTask($event, task)" [disabled]="task.beingEdited" *ngIf="!task.completed" class="btn edit-btn">Edit</button>
                <span class="listIndex">{{i + 1}}.</span>
                <span [ngClass]="{'completed': task.completed}" *ngIf="!task.beingEdited" class="task-text"> {{ task.task }} </span>
                <input type="text" class="edit-input"
                    *ngIf="task.beingEdited" 
                    (keyup.enter)="updateTask(task.task, task)" 
                    [ngModel]="task.task" 
                    (ngModelChange)="task.task = $event" 
                    autofocus (focus)="$event.target.select()">
                <button *ngIf="task.beingEdited" class="btn update-btn" (click)="updateTask(task.task, task)">Update</button>
                <div *ngIf="!task.beingEdited" class="x-btn-container">
                    <button (click)='removeTask(i, filterValue, task)' class="x-btn">X</button>
                </div>
            </li>
        </ol>
        <input [(ngModel)]="addToDo" (keyup.enter)="addTask()" type="text" placeholder="Add your to-do"> 
        <button (click)="addTask()" id="add-btn">Add</button>
        <button (click)="logger()">console.log()</button>
    </div>
    